apiVersion: apps/v1
kind: Deployment
metadata:
    name: hqs-user-service
spec:
    replicas: 1
    selector:
      matchLabels:
        app: hqs-user-service
    template:
        metadata:
          name: hqs-user-service
          labels:
            app: hqs-user-service
        spec:
          containers:
            - name: hqs-user-service
              image: gcr.io/softcorp-hqs/hqs-user-service:v0.0.31
              imagePullPolicy: Always
              volumeMounts: 
              - name: image-storage
                mountPath: ./app/tmp
              ports:
                - containerPort: 9000
              env: 
              - name: "MONGO_DBNAME"
                value: "hqs_user_test"
              - name: "MONGO_DB_USER_COLLECTION"
                value: "users"
              - name: "MONGO_DB_AUTH_COLLECTION"
                value: "auth_history"
              - name: "MONGO_DB_TOKEN_COLLECTION"
                value: "token_history"
              - name: "AUTH_HISTORY_TTL"
                value: "168h"
              - name: "USER_TOKEN_TTL"
                value: "24h"
              - name: "RESET_PASS_TTL"
                value: "48h"
              - name: "SIGNUP_TOKEN_TTL"
                value: "24h"
              - name: "SERVICE_PORT"
                value: "9000"
              - name: "SPACES_REGION"
                value: "AMS3"
              - name: "SPACES_ENDPOINT"
                value: "ams3.digitaloceanspaces.com"
              - name: "EMAIL_SERVICE_IP"
                value: "10.4.4.212"
              - name: "EMAIL_SERVICE_PORT"
                value: "9000"
              - name: "EMAIL_SIGNUP_LINK_BASE"
                value: "https://hqs.softcorp.io/signup/"
              envFrom:
              - secretRef:
                  name: hqs-user-service-secret
          volumes:
          - name: image-storage
            emptyDir: {}